venv/
.venv/
.env
Artifacts/
logs/
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Data files
Network_Data/*.csv

# Logs
logs/
*.log

# OS
.DS_Store

logs/
valid_data/
prediction_output/